{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
<title>Login Page</title>
{% endblock %}

{% block body %}
<div class="container">

    <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-sm btn-primary btn-block" type="submit">Sign In</button>
    </form>
    <br>
    <a href="/register">Don't have an account? Sign Up</a>
</div>
{% endblock %}